<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='estilos.css') }}"
    />
  </head>
  <body>
    <p>PAGINA2</p>

    <h3>Horario</h3>

    <table border="1">
      <tr>
        <th>Día</th>
        <th>Hora</th>
        <th>Curso</th>
      </tr>

      <tr>
        <td>Lunes</td>
        <td>8:00 - 10:00</td>
        <td>Curso de Redes</td>
      </tr>

      <tr>
        <td>Miércoles</td>
        <td>10:00 - 12:00</td>
        <td>Curso de Desarrollo Web</td>
      </tr>

      <tr>
        <td>Viernes</td>
        <td>14:00 - 16:00</td>
        <td>Curso de Bases de Datos</td>
      </tr>
    </table>
  </body>
</html>
