<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='estilos.css') }}"
    />
  </head>
  <body>
    <p>PAGINA1</p>

    <section>
      <h2>Mis cursos</h2>

      <ul>
        <li>Curso de Redes</li>
        <li>Curso de Desarrollo Web</li>
        <li>Curso de Bases de Datos</li>
      </ul>
    </section>
  </body>
</html>
